@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/*https://www.schemecolor.com/css-family-blue.php*/

:root {
  --blue-1: #3C99DC;
  --blue-2: #6DBDF7;
  --blue-3: #D5F3FE;
  --blue-4: #2565AE;
  --blue-5: #0F5298;
  --gray-1: #8c8c8c;
  --gray-2: #b2b2b2;
  --trans-x: -300%;
}

#bootstrap-overrides {
  font-family: 'Open Sans', sans-serif;
}
body, html {
  height: 100%;
}
/*@keyframes gradient-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}*/
#bootstrap-overrides h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

.jumbotron {
  background: linear-gradient(45deg, var(--blue-2), var(--blue-3) 50%);
}
#bootstrap-overrides .btn {
  font-family: 'Quicksand', sans-serif;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
#bootstrap-overrides .btn-lg {
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 8rem;
}
#bootstrap-overrides .btn-primary {
  background: linear-gradient(90deg, var(--blue-1), var(--blue-2));
  background-size: 200%;
  border: none;
  transition: background-position 1s;
}
#bootstrap-overrides .btn-primary:hover {
  background-position: 100%;
}
#bootstrap-overrides .btn-secondary {
  background: linear-gradient(90deg, var(--gray-1), var(--gray-2));
  background-size: 200%;
  border: none;
  transition: background-position 1s;
}
#bootstrap-overrides .btn-secondary:hover {
  background-position: 100%;
}

#startBtn {
  position: absolute;
  top: 10%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
#MinOpt {
  position: absolute !important;
  top:10% !important;
  left: 50% !important;
  text-align:center !important;
  transform: translate(-50%, 40px) !important;
   cursor: pointer;
}

#bootstrap-overrides #breathe {
  font-family: "Pacifico", "Quicksand", sans-serif;
  color: white;
  font-size: 3em;
  text-transform: lowercase;
  text-shadow: inset -2px 0 2px var(--blue-2);
}
.above {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -225px);
  animation: fadeInUp 2s;
}
#breathe-done {display: none;}
#breathe-svg {
  transform: scale(0.5);
  display:none;
}
/*#quote.fade-in {
  animation: fadeInUp 1s;
}
#quote.fade-out {
  animation: fadeInUp reverse 1s;
}*/

.below {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 125px);
}
/*#quote.fade-in {
  animation: fadeInUp 0.5s;
}
#quote.fade-out {
  animation: fadeInUp reverse 0.5s;
}

#quote-author.fade-in {
  animation: fadeInUp 0.5s;
}
#quote-author.fade-out {
  animation: fadeInUp reverse 0.5s;
}*/

#bootstrap-overrides #quote {
  font-style: italic;
  font-size: 1.5rem;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
@keyframes fadeInUp {
  0% {
    margin-top: 20px;
    opacity:0;
  }
  100% {
    margin-top: 0;
    opacity:1;
  }
}
@keyframes fadeOutDown {
  0% {
    margin-top: 0;
    opacity:1;
  }
  100% {
    margin-top: 20px;
    opacity:0;
  }
}

#breath-pulser {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(var(--blue-3), var(--blue-1));
  animation: 5s ease-in-out infinite idle;
  z-index: -1;
}
@keyframes pulse {
  40% {
    transform: translate(-50%, -50%) scale(1.5);
  } 100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes idle {
  50% {
    transform: translate(-50%, -60%);
  } 100% {
    transform: translate(-50%, -50%);
  }
}

.spike {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  height: 5%;
  transform-origin: 300% 50%;
  background: linear-gradient(-90deg, var(--blue-2), var(--blue-4));
}
.spike::after {
  content: " ";
  display: block;
  width: 8px;
  height: 10px;
  border-radius: 50%;
  transform: translate(-90%, -25%);
  background: linear-gradient(-90deg, var(--blue-4), var(--blue-5));
}

#left-eye {
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 10%;
  height: 10%;
  border-radius: 50%;
  background-color: var(--blue-4);
  animation: idle-eyes ease 4s infinite;
}
#right-eye {
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 10%;
  height: 10%;
  border-radius: 50%;
  background-color: var(--blue-4);
  animation: idle-eyes ease 4s infinite;
}

@keyframes idle-eyes {
  30% {
    transform: translate(-50%, -50%) scaleY(1);
    border-radius: 50%;
  } 35% {
    transform: translate(-50%, -50%) scaleY(0.5);
    border-radius: 0;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
  } 40% {
    transform: translate(-50%, -50%) scaleY(1);
    border-radius: 50%;
  } 55% {
    transform: translate(-50%, -50%) scaleY(1);
    border-radius: 50%;
  } 60% {
    transform: translate(-50%, -50%) scaleY(0.5);
    border-radius: 0;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
  } 65% {
    transform: translate(-50%, -50%) scaleY(1);
    border-radius: 50%;
  }
}
@keyframes pulse-eyes {
  0% {
    transform: translate(-50%, -50%) scaleY(1);
    border-radius: 50%;
  } 10% {
    transform: translate(-50%, -50%) scaleY(0.5);
    border-radius: 0;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
  } 40% {
    transform: translate(-50%, -100%) scaleY(0.5);
    border-radius: 0;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
  } 80% {
    transform: translate(-50%, -50%) scaleY(1);
    border-radius: 50%;
  }
}

#smile {
  position: absolute;
  top: 65%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 15%;
  height: 7%;
  background-color: var(--blue-5);
  border-radius: 10%;
  border-bottom-left-radius: 50% 90%;
  border-bottom-right-radius: 50% 90%;
  transform: translate(-50%, -50%);
}
#smile.smile-animated {
  border-radius: 10%;
  border-bottom-left-radius: 50% 90%;
  border-bottom-right-radius: 50% 90%;
  transform: translate(-50%, -50%);
  animation: pulse-smile 10s infinite;
}
/* https://cdn.dribbble.com/users/405145/screenshots/4191607/yogabreathing_1_4x3.gif */
@keyframes pulse-smile {
  10% {
    height: 3%;
    border-radius: 100px;
    transform: translate(-50%, -50%);
  } 40% {
    height: 3%;
    border-radius: 100px;
    transform: translate(-50%, -100%);
  } 50% {
    height: 7%;
    border-radius: 10%;
    border-bottom-left-radius: 50% 90%;
    border-bottom-right-radius: 50% 90%;
    transform: translate(-50%, -50%);
  }
}

footer {
  /*position: absolute;
  bottom: 0;*/ /*So I commented the previous portion out because it got wack when I added this stylesheet to the main index*/
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #bdbdbd;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  min-width: 130px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#MinOpt a:hover {
  background-color: #ddd;
  color:black;
  text-decoration:none;
  }

#MinOpt:hover .dropdown-content {
  display: block;
}

.show {display: block;}

.dropBtn {
  min-width: 130px !important;
}

body{
 animation: fadeIn ease 1s;
}

#breathe-text {
  text-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}
